<?xml version="1.0"?>
<appSettings>
  <add key="Merchant:Id" value="d585e5c0-d07a-40de-aeb2-f18eea8bf321"/>
  <add key="Merchant:PrivateKey" value="MIICdQIBADANBgkqhkiG9w0BAQEFAASCAl8wggJbAgEAAoGBAKgXuZ3XqQe/AAljrP6w3RxyZp6Go2jVLU5EIt32xckMvBDHxt44zmAKhjJtf5AO8CyVX4Ib/TxrFrRZaBjMN6sLdOv5qisu23xzltHStPFd1q1UUwPBpE7Kx41zA0K1Uo9tRk679z7jpluBv8ooszyWZ2qF6dl/Hs71YcsLzQE3AgMBAAECgYAXxWMmgz0QL16d9U6dpf1e7H6+pGOvi5Ygn1oe8ar+x6JA7T+eZYIp6tMXhoynnrUwWN9s0vB4/tvzHUGvYBHvD4apmAxXiFbHCYsYhuwxk5SMMjUXRJF8yi/9Mvv8ioad3hiuNljM7VQfUzHzAX6KJGUDaE3qNeoyG9LBmGACYQJBAOJSjMC2F0CTi5yn4nL4GcuB8AQu/XC9tQ8EFflifa22/ZgdNOAEBAKgu6UgGRv0wuDCXCWMVC/2zu88ppkqf0MCQQC+InOWe6hoTl3FhyFCN7DL8mlgdRT3Daz3oFk61pcboRVLF03QtSftQdJ76W/EVPg/VfPSrv2+2Rx5XCBF9BT9AkBwGzHrd4c3Dp72X1bVWj30x41rlRcnVGEuafi0imv0s5MUWUtKt9KAtrucRLULWwd5K+1XEBbXl2rTqHhhoGJfAkAelZAeTrniPWjcE0aITkkEJXRJ7ct3ih2en4565nXcHec88vyza9CGW6YuBHjUDg74sSzNYRS0FFx+MRGH7yFJAkBo5fNMaq2Fm+YBV6o0Or7ezJqmroopUPXqqk39IHJCcEucA41qV4hFdt/ZHNljjEPNI0+79nqvXFSj47Ipz14o"/>
  <add key="Merchant:PublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCoF7md16kHvwAJY6z+sN0ccmaehqNo1S1ORCLd9sXJDLwQx8beOM5gCoYybX+QDvAslV+CG/08axa0WWgYzDerC3Tr+aorLtt8c5bR0rTxXdatVFMDwaROyseNcwNCtVKPbUZOu/c+46Zbgb/KKLM8lmdqhenZfx7O9WHLC80BNwIDAQAB"/>
</appSettings>
